.DS_Store
*/.DS_Store
.metadata
.project
.settings
*.x
*.a
SRC/AdiaChannels/mod_Basis.f90-pointer
SRC/AdiaChannels/mod_Basis.f90.i
SRC/AdiaChannels/mod_Basis.f90.corrfort17
Tests/*txt
Tests/*.log
Tests/grid*
Tests/res*
Tests/irc
SRC/QML/chqml
