.DS_Store
*/.DS_Store
.metadata
.project
.settings
*.x
*.a
*.log
SRC/*/*.f90.i
Tests/*txt
Tests/*com
Tests/*FChk
Tests/*.log
Tests/grid*
Tests/res*
Tests/irc
SRC/QML/chqml
OBJ
Examples
*txt
grid*
Tests/RES_files/*