.DS_Store
DOC/.DS_Store
.metadata
.project
.settings
*.x
libpot.a
libQMLib.a
SRC/AdiaChannels/mod_Basis.f90-pointer
SRC/AdiaChannels/mod_Basis.f90.i
SRC/AdiaChannels/mod_Basis.f90.corrfort17
Tests/*txt
Tests/*.log
Tests/grid*
Tests/res
SRC/QML/chqml
